/* _content/testBlazorServer/Pages/ChatRoom.razor.rz.scp.css */
/* improved for chat text box */
textarea[b-dkb1ahxgs8] {
    border: 1px dashed #888;
    border-radius: 5px;
    width: 80%;
    overflow: auto;
    background: #f7f7f7
}

/* improved for speech bubbles */
.received[b-dkb1ahxgs8], .sent[b-dkb1ahxgs8] {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.received[b-dkb1ahxgs8]:after, .sent[b-dkb1ahxgs8]:after {
    content: '';
    border: 20px solid transparent;
    position: absolute;
    margin-top: -30px;
}

.sent[b-dkb1ahxgs8] {
    background: #03a9f4;
    color: #fff;
    margin-left: 10%;
    top: 50%;
    text-align: right;
}

.received[b-dkb1ahxgs8] {
    background: #4CAF50;
    color: #fff;
    margin-left: 10px;
    margin-right: 10%;
}

.sent[b-dkb1ahxgs8]:after {
    border-left-color: #03a9f4;
    border-right: 0;
    right: -20px;
}

.received[b-dkb1ahxgs8]:after {
    border-right-color: #4CAF50;
    border-left: 0;
    left: -20px;
}

/* div within bubble for name */
.user[b-dkb1ahxgs8] {
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
}

.msg[b-dkb1ahxgs8] {
    /*display: inline;*/
}
/* _content/testBlazorServer/Shared/MainLayout.razor.rz.scp.css */
.page[b-7fc51ugxvb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-7fc51ugxvb] {
    flex: 1;
}

.sidebar[b-7fc51ugxvb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-7fc51ugxvb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-7fc51ugxvb]  a, .top-row .btn-link[b-7fc51ugxvb] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-7fc51ugxvb] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-7fc51ugxvb] {
        display: none;
    }

    .top-row.auth[b-7fc51ugxvb] {
        justify-content: space-between;
    }

    .top-row a[b-7fc51ugxvb], .top-row .btn-link[b-7fc51ugxvb] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-7fc51ugxvb] {
        flex-direction: row;
    }

    .sidebar[b-7fc51ugxvb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-7fc51ugxvb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-7fc51ugxvb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/testBlazorServer/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-s73dfh3ach] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-s73dfh3ach] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-s73dfh3ach] {
    font-size: 1.1rem;
}

.oi[b-s73dfh3ach] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-s73dfh3ach] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-s73dfh3ach] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-s73dfh3ach] {
        padding-bottom: 1rem;
    }

    .nav-item[b-s73dfh3ach]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-s73dfh3ach]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-s73dfh3ach]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-s73dfh3ach] {
        display: none;
    }

    .collapse[b-s73dfh3ach] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
